body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

#content {
  margin: 16px;
}

.account-info {
  float: right;
  text-align: right;
  margin-top: -50px;
  margin-right: 2%;
  color: white;
}

.name {
  float: right;
}

.loader {
  text-align: center;
  display: block;
  margin-top: 100px;
}

.overall-balance {
  display: block;
}

.logo {
  display: block;
  background:url('./assets/images/app-icon-64.png');
  background-size: 40px 40px;
  background-repeat:no-repeat;
  height:40px;
  width:40px;
  margin-top:-10px;
  margin-left:-5px;
}

.pie-wrapper {
  text-align: center;
}

.pos {
  color: #4F8A10 !important;
}

.neg {
  color: #D8000C !important;
}

#budgets_chart rect[fill='4285f4'] {
  fill: #4077B2;
}

#budgets_chart rect[fill='#81aef8'] {
  fill: #F5F5F5;
}

#budgets_chart path[fill='#c0d6fb'] {
  fill: #E2001A;
}

.avatar-image {
  margin-right: 12px;
}

.button_add {
  margin-left: 15px;
}

.button_add_budget {
  margin-top: 14px;
}

.button_text {
  font-size: 22pt;
}
