body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

#content {
  margin: 16px;
}

.account-info {
  float: right;
  margin-top: -40px;
  margin-right: 2%;
  color: white;
}

.name {
  float: right;
}

.loader {
  text-align: center;
  display: block;
  margin-top: 100px;
}

.logo {
  display: block;
  background:url('./assets/logo-64.png');
  background-size: 40px 40px;
  background-repeat:no-repeat;
  height:40px;
  width:40px;
  margin-top:-10px;
  margin-left:-5px;
}

