body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

#content {
  margin: 16px;
}

.account-info {
  float: right;
  margin-top: -50px;
  margin-right: 2%;
}

.name {
  float: right;
  margin-top: 2px;
}

.loader {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}
